/*
*  -----------------------------------------------------------------------
*  📄 Paper (White)
*  ----------------------------------------------------------------------- */
$paper: #FFFFFF;

/*
*  -----------------------------------------------------------------------
*  📁 Concrete (Gray)
*  ----------------------------------------------------------------------- */
$concrete-light: #FAFAFA;
$concrete: #E3E3E3;
$concrete-dark: #969696;

/*
*  -----------------------------------------------------------------------
*  ⬛️ Charcoal (Black)
*  ----------------------------------------------------------------------- */
$charcoal: #2B2B2B;

/*
*  -----------------------------------------------------------------------
*  ❤️ Cheek (Red)
*  ----------------------------------------------------------------------- */
$cheek: #FF6464;

/*
*  -----------------------------------------------------------------------
*  🍋 Lemon (Yellow)
*  ----------------------------------------------------------------------- */
$lemon: #FFDE4D;

/*
*  -----------------------------------------------------------------------
*  🌊 Ocean (Blue)
*  ----------------------------------------------------------------------- */
$ocean: #3C78CD;

/*
*  -----------------------------------------------------------------------
*  💚 Emerald (Green)
*  ----------------------------------------------------------------------- */
$emerald: #03C8A8;

/*
*  -----------------------------------------------------------------------
*  🌈 Rainbow (Gradation)
*  ----------------------------------------------------------------------- */
$rainbow: linear-gradient(90deg, rgba(255, 100, 101, 0.8) 26.52%, rgba(247, 219, 89, 0.8) 100%);

